<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    More
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="#">Add book</a></li>
    <li><a class="dropdown-item" href="#">Reservations</a></li>
    <li><a class="dropdown-item" href="#">Borrowing</a></li>
    <li><a class="dropdown-item" href="#">Payment</a></li>
  </ul>
</li>